In [1]:
#libraries installieren
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [2]:
#csv aus web Analytics einlesen
immodf=pd.read_csv("Immobilien.csv")
immodf.head()

,Unnamed: 0,ID,Ort,Umkreis,MaxOrt,Preis,Fläche,Zimmer
0,0,28auw54,berlin,50,max. 20 km,2.130.000 €,['906 m²'],[]
1,1,274he5l,berlin,50,max. 10 km,690.000 €,['323 m²'],['8 Zi.']
2,2,26ekx52,berlin,50,max. 10 km,698.000 €,['180 m²'],['4 Zi.']
3,3,26zkl56,berlin,50,max. 10 km,429.000 €,['97 m²'],['4 Zi.']
4,4,27drw5w,berlin,50,max. 10 km,548.000 €,['90 m²'],['4 Zi.']